html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
.container {
  width: 100%;
  margin: auto;
}
@media (min-width: 800px) {
  .container {
    max-width: 880px;
  }
}
@media (min-width: 500px) {
  header {
    padding: 20px 0;
  }
}
header nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid black;
}
@media (min-width: 500px) {
  header nav {
    justify-content: flex-end;
    border: none;
    flex-direction: row;
  }
}
header nav a {
  font-size: 2rem;
  padding: 10px 0;
  border-bottom: 1px solid black;
}
header nav a:hover {
  text-decoration: underline;
  background: gray;
}
@media (min-width: 500px) {
  header nav a {
    margin-right: 5%;
    font-size: 1.6rem;
    border: none;
  }
  header nav a:hover {
    background: transparent;
  }
}
.space-between-elements {
  margin-bottom: 20px;
}
.cta {
  background: #e6e6e6;
  padding: 10% 5%;
}
.cta h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
@media (min-width: 500px) {
  .cta h1 {
    font-size: 6rem;
  }
}
.cta h4 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.cta p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
@media (min-width: 500px) {
  .cta p {
    font-size: 1.6rem;
  }
}
.cta button {
  color: white;
  background-color: gray;
  border-radius: 10px;
  padding: 1% 2%;
  border: none;
  cursor: pointer;
}
.cta button:hover {
  background-color: #e6e6e6;
  color: gray;
}
.main-content {
  padding: 5%;
}
.main-content h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.main-content h2 {
  font-size: 1.9rem;
  margin-bottom: 20px;
}
.main-content p,
.main-content li {
  font-size: 1.4rem;
}
.main-content .top-content {
  display: flex;
  flex-direction: column;
}
.main-content .top-content .text-content {
  margin-bottom: 5%;
}
.main-content .top-content li {
  border: 1px solid #e6e6e6;
  padding: 2%;
}
@media (min-width: 500px) {
  .main-content .top-content {
    justify-content: space-between;
    flex-direction: row;
  }
  .main-content .top-content .text-content {
    width: 80%;
    padding: 0 1%;
  }
  .main-content .top-content p,
  .main-content .top-content li {
    font-size: 1.6rem;
  }
}
.main-content .bottom-content table {
  display: table;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  border-spacing: 20px;
  border-collapse: collapse;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 800px) {
  .main-content .bottom-content table {
    font-size: 1.6rem;
  }
}
.main-content .bottom-content table th {
  font-weight: 700;
  padding: 10px 0;
}
.main-content .bottom-content table tr:nth-child(even) {
  background-color: #e6e6e6;
}
.main-content .bottom-content table td {
  padding: 10px 0;
}
footer {
  background: gray;
  color: white;
  text-align: center;
  padding: 10% 0;
}
footer p {
  font-size: 2rem;
}
