* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: @fontSize;
	font-family: 'Amatic SC', sans-serif;
	font-weight: 700;
}
p,
li {
	font-size: @fontSize;
	font-family: 'Ubuntu', monospace;
}
a {
	font-family: 'Fira Mono', monospace;
	font-size: @fontSize;
	&:hover {
		text-decoration: underline;
	}
}
.container {
	max-width: 880px;
	width: 100%;
	margin: auto;

	@media (min-width: 880px) {
		box-shadow: 5px 0 25px 1px @color-secondary-2-3;
	}
}
